<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${worker.getName()}">VALUE</p>
<p th:text="${'Age: ' + worker.getAge()}">VALUE</p>
<p th:text="${'Education: ' + worker.getEducation()}">VALUE</p>
<p th:text="${'Education: ' + worker.getPosition()}">VALUE</p>
<p th:text="${worker.getId()}">VALUE</p>

<a th:href="@{/worker/{id}/edit(id=${worker.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/worker/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>