<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testBean"
          class="hw11.TestBean">
        <constructor-arg value="Test Spring Bean"/>
    </bean>
    <bean id="knight"
          class="hw11.Knight">
        <constructor-arg value="1"/>
        <constructor-arg value="Richard"/>
        <constructor-arg value="1000"/>
    </bean>
</beans>