<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products with Max Quality</title>
</head>
<body>

<div th:each="products : ${products}">
    <a th:href="@{/products/{id}(id=${products.getId()})}"
    th:text="${products.getName() + ', ' + products.getQuality() + ' pcs., ' + products.getPrice() + ' UAH, ' + products.getYear() + ' ' + products.getProducer()}">user</a>
</div>

<br/>
<hr/>

<a href="new">Create new products</a>

</body>
</html>